body {
background-color: lightgreen;
 background-image:url('earth.gif');
 background-repeat: repeat-y;
 text-align: right;
 margin: 10px;
}

 h1 {
        color: midnightblue;
        font-size: 45px;
        text-align: center;
        text-shadow: 3px 5px 5px white;
    }

nav {
    display: inline-block;
    width: 13%;
    padding: 0.7%;
    font-family: cursive;
    text-align: center;
    flex-direction: column;
    font-size: 25px;
}

nav a {

    display: block;
    padding: 5%;
    margin: 10px;
}

a:hover {
    background-color: white;
}

article {
    background-color: white;
    width: 60%;
    height: 100%;
    margin-left: 300px;
    font-family: cursive;
    text-align: left;
}
li{
    background-color: white;
    width: 60%;
    height: 100%;
    margin-left: 300px;
    font-family: cursive;
    text-align: left;
}
p{
    background-color: white;
    width: 60%;
    height: 100%;
    margin-left: 300px;
    font-family: cursive;
    text-align: left;
}
section{
    width: 85%;
    float: left;
}
